body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--black);
}


:root {
--black:#000;
--off-white: #fafafa;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    min-height: 300px;
    width: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1, h2, h3 {
    font-family: "Righteous", sans-serif;
    color: var(--off-white);
    text-decoration: underline;
}

h1 {
    color: var(--off-white);
    text-decoration:none;
    font-size: 2.8rem;
}

h2, h3 {
    color: var(--off-white);
    text-decoration: underline;
}

.upercase {
    text-transform: uppercase;
}

.title {
    margin-top: 12rem;
}

/*********************************************** Initial component *****/

.form-control {
    background-color: var(--black);
    border: 1px solid var(--off-white);
}

.form-control:focus { 
    background-color: var(--black);
}